@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

/* body{
    background-color: rgb(249, 249, 249);
} */

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    height: max-content;
    background: #0000006d;
    margin: 2rem auto;
    border-radius: 20px;
}

.container .imgBx {
    margin: 20px auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: 20px;
    height: 93%;
    border-radius: 20px;
    background: #bababa00;
    transition: .3s linear;
    overflow: hidden;
}

.container .imgBx img {
    border-radius: 20px;
    position: relative;
    width: 350px;
    left: -0px;
    transition: .9s linear;
}

.container .details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.container .details h2 {
    margin-top: 10px;
    padding: 0;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 1em;
    color: #00e18f;
}

.container .details h2 span {
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999;
}

.container .details p {
    max-width: 85%;
    margin-left: 15%;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 36px;
}

.container .details h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}

.container .details button {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;
}

.black {
    background: #000;
}

.back-btn {
    color: white;
    margin-top: 1rem;
    font-size: 35px;
}

/* responsive */
@media (max-width: 1080px) {
    .container {
        height: auto;
    }

    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }

    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}