@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&display=swap');
/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */

#section{
    position:relative;
    width:100%;
    overflow: hidden !important;
    height:100vh;
}
#section::before{
    content: '';
    position:absolute;
    left:0;
    width:100%;
    height:200px;
    background:line-gradient(to top, #fff , transparent  );
}
#bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: -9999;
}
#ship{
    margin: auto;
    position:fixed;
    /* display: none; */
    /* top:3rem; */
    width:100%;
    height:100%;
    transform: scale(1.1);
    object-fit: cover;
    transition: opacity 0.6s;
    z-index: 99;
}

.ennexus{
    margin: auto;
    text-align: center;
    position:fixed;
    top:15rem;
    width:100vw;
    height:90vh;
    object-fit: cover;
    /* font-family: 'Jost', sans-serif; */
    font-size: 200px;
    font-weight: 900;
    transition: opacity 0.6s;
}

@media only screen and (max-width: 500px){
    .ennexus{
        font-size: 80px;
        margin-top:6rem;
    }
}
@media only screen and (min-width:500px) and (max-width: 940px){
    .ennexus{
        font-size: 110px ;
        margin-top:2rem;
    } 
}